.App {
  text-align: center;
}

header {
  background-color: white;
  min-height: 10vh;
  color: #282c34;
}

a {
  color: #1876D1;
}
nav {
  display: felx;
  flex-direction: row;
}

.datepicker {
  display: flex;
  justify-content: center;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: #282c34;
  text-align: center;
}

footer p {
  margin: 0.2rem;
}

.App-link {
  color: #61dafb;
}

.main-container {
  display: grid;
  align-content: space-evenly;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 100px;
  background-color: #1A2027;
  justify-content: center;
  color: white;
  min-height: 70vh;
}

.loading-message {
  font-size: 1.5rem;
}

.error-message {
  font-size: 6rem;
  margin-bottom: 1rem;
}

.input-error-msg {
  color: red;
  min-height: 1.2rem;
}